html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  height: 50px;
  line-height: 50px;
  background-color: #d8d8d8;
  color: #000;
  font-weight: bold;
  padding: 0 10px;
  justify-content: space-between;
  display: flex;
}

.nav {
  height: 50px;
  line-height: 50px;
}

li {
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  background: #fff;
}

.avatar {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  background: #ffeb3b;
  display: inline-block;
  margin: 10px;
}

/* slideIns */
.transition {
  transition: all 0.2s;
  overflow: hidden;
}

/* 从右边进入 */
.slideInRight {
  transform: translateX(100%);
}

.slideInRight.slidingInRight {
  transform: translateX(0);
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
